* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  margin-top: 20px;
}

.container {
  width: 80%;
  margin: auto;
}

h1 {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

tr.very-bullish {
  background-color: #e6f4f1;
}
tr.very-bearish {
  background-color: #f4e6e6;
}
tr.bullish {
  background-color: #f0f9eb;
}

tr.bearish {
  background-color: #f9ebeb;
}

tr.neutral {
  background-color: #f9f9f9;
}
